a,a:visited{
	color: inherit;
	text-decoration: none;
}
.top-space{
	margin-top: 1em;
}
.right-space{
	margin-right: .5em;
}
.inline-block
{
	display: inline-block;
}
.text-right{
	text-align: right;
}
.hide{
	display: none;
}