<div class="card top-space">
	<div flex-container="row">
		<div class="card__img card__img--left">
			<img src="{{movie.get_cover}}" alt="{{movie.title}} - Cover" style="height: 300px;width:200px">
		</div>
		<div flex-item flex-container="column">
			<div flex-item class="p+">
				<strong class="fs-headline display-block">
					{{movie.title}} - <span class="tc-black-2">{{movie.year}}</span>
				</strong>
				<strong class="fs-subhead tc-black-2 display-block top-space">
					{{movie.description}}										
				</strong>
			</div>
			<div class="fab" align="right">
				<div class="p+">
			        <button class="fab__primary btn btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Agregar Subtitulo" tooltip-position="left">
			            <i class="mdi mdi-plus"></i>
			            <i class="mdi mdi-playlist-plus"></i>
			        </button>			        
			    </div>
			</div>
		</div>				
	</div>
</div>
<lx-tabs>
	<lx-tab icon="file-document-box">
		<div class="p+">
			<div class="card top-space" ng-repeat="subtitle in subtitles.subtitles">
				<div>					
					<div class="p+">
						<strong class="fs-headline display-block tc-red-900">
							{{movie.title}} <span class="tc-black-2">- </span><span class="tc-teal-500">Subido por: </span><span class="tc-black-2">{{subtitle.user}}</span>
						</strong>
						<div class="paragraph fs-body-1 mt+">
							{{subtitle.comment}}
						</div>
					</div>
					<div class="card__actions">
						<span class="right-space">Versión: <strong>{{subtitle.version}}</strong> </span>
						<a href="{{subtitle.file}}" target="_blank" class="btn btn--m btn--green btn--raised" lx-ripple>Descargar</a>
						<a href="#/report/movie/{{subtitle.id}}" class="btn btn--m btn--red btn--raised" lx-ripple>Reportar</a>
					</div>
				</div>
			</div>
		</div>
    </lx-tab>
</lx-tabs>