<!DOCTYPE html>
<html ng-app="FinalApp">
<head>
	<title>Subtitulos.com | Tu lugar</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{% load staticfiles %}
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" type="text/css" href="{% static "css/materialdesignicons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/lumx.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script src="{% static "js/vendor/jquery-latest.min.js" %}"></script>
	<script src="{% static "js/vendor/angular.min.js" %}"></script>
	<script src="{% static "js/vendor/angular-resource.min.js" %}"></script>
	<script src="{% static "js/vendor/angular-route.min.js" %}"></script>
	<script src="{% static "js/vendor/velocity.min.js" %}"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="{% static "js/vendor/moment-es.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.2/angular-moment.min.js"></script>
	<script src="{% static "js/lumx.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
	<script src="{% static "js/services.js" %}"></script>
	<script src="{% static "js/controllers.js" %}"></script>
</head>
<body>
	<nav>
		<div class="bgc-blue-900 tc-white" flex-container="row" flex-align="center center">
			<div flex-item="5">
				<h1 class="fs-display-2 display-block">Subtitulos</h1>
			</div>
			<div flex-item="1" position="right">
				<a href="/#/"><span class="mdi mdi-home"></span>Inicio</a>
			</div>
			<div flex-item="1" position="right">
				<a href="/#/serie">Series</a>
			</div>
			<div flex-item="1" position="right">
				<a href="/#/movie">Movies</a>
			</div>
			{% if request.user.is_authenticated %}
				<lx-dropdown position="left" from-top>
                        <button lx-ripple lx-dropdown-toggle>
                            <a href="#">Kildare<i class="mdi mdi-dots-vertical"></i></a>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                            	{% if request.user.is_superuser %}
                            		<li>
                            			<a class="dropdown-link dropdown-link--is-header">
                            				Administrador
                            			</a>
                            		</li>
                            		<li>
	                            		<a class="dropdown-link" href="/admin">
	                            			<span class="mdi mdi-account-star-variant"></span>
	                            			Panel de administración
	                            		</a>
	                            	</li>
	                            	<li>
	                            		<a class="dropdown-link" href="#/add/serie">
	                            			<span class="mdi mdi-plus-box"></span>
	                            			Agregar Serie
	                            		</a>
	                            	</li>
	                            	<li>
	                            		<a class="dropdown-link" href="#/add/movie">
	                            			<span class="mdi mdi-plus-box"></span>
	                            			Agregar Pelicula
	                            		</a>
	                            	</li>
	                            	<li class="dropdown-divider"></li>
                            	{% endif %}                            	
                                <li>
                                	<a class="dropdown-link">
                                		<span class="mdi mdi-account"></span>
                                		Mi Cuenta 
                                	</a>
                                </li>
                                <li>
                                	<a class="dropdown-link">
                                		<span class="mdi mdi-comment-plus-outline"></span>
                                		Sugerencias / Comentarios
                                	</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                	<a href="/logout" class="dropdown-link">
                                		<i class="mdi mdi-logout"></i>
                                		Salir 
                                	</a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
			{% else %}
				<div flex-item="1" position="right">
					<span id="btn-login" style="cursor:pointer;"><span class="mdi mdi-login"></span>Ingresar</span>				
				</div>
			{% endif %}		
		</div>
	</nav>
	
	<div class="container-login">
		<div id="login-container" flex-container="row" flex-align="center" class="hide">
			<div flex-item="9">
				<div class="card top-space">
					<div class="p+">		
						<div flex-container="row" flex-align="center center">
							<div flex-item="7">
								<div flex-container="row">
									<div flex-item="6" flex-align="center center">
										<a href='{% url "socialauth_begin" "facebook" %}' class="btn btn--orange btn--l btn--raised">
											<span class="mdi mdi-facebook"></span>
											Ingresar con Facebook
										</a>				
									</div>
									<div flex-item="6" flex-align="center center">
										<a href='{% url "socialauth_begin" "twitter" %}' class="btn btn--green btn--l btn--raised">
											<span class="mdi mdi-twitter"></span>
											Ingresar con Twitter
										</a>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% csrf_token %}
	<div flex-container="row" flex-align="center">
		<div ng-view flex-item="9">
		</div>
	</div>

	<script>
		var btnLogin = $('#btn-login');
		var loginContainer = $('#login-container');
		var hide = true;
		btnLogin.on('click', function(){
			if(hide){
				loginContainer.removeClass('hide');
				hide = false;
			}else{
				loginContainer.addClass('hide');
				hide = true;
			}
		});
	</script>
</body>
</html>