<div flex-container="column" flex-align="space-between center">
	<span flex-item="12" class="p+ fs-display-3 display-block tc-red-900">Error 404</span>
	<span flex-item="12" class="p+ fs-display-1 display-block tc-indigo-500">Lo que buscas no esta aquí</span>
	<span flex-item="12" class="p+ tc-blue-500"><a href="#/">Ir al inicio</a></span>
</div>