<form name="createReport" ng-submit="saveSub()">
	<div class="card top-space">
		<div class="p+">
			<span class="fs-display-1 display-block tc-red-500">Añadir Serie</span>
			<div flex-container="row">
				<div flex-item="12">
					<div flex-item>
						<lx-text-field label="Nombre de la serie">
							<input type="text" id="title" ng-model="serie.title">
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Año de estreno">
							<input type="number" id="year" ng-model="serie.year">
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Temporadas: (Ejemplo: 2)">
							<input type="number" id="seasons" ng-model="serie.seasons">
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Descripción de la serie (Max. 320 caracteres)">
							<textarea id="description" ng-model="serie.description"></textarea>
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Dirección URL del cover (.jpg o .png)">
							<input type="text" id="cover" ng-model="serie.cover" />
						</lx-text-field>
					</div>
				</div>			
			</div>
		</div>
		<div class="card__actions">
			<button type="submit" class="btn btn--green btn--l btn--raised">
				Subir Subtitulo
			</button>
		</div>
	</div>
</form>