<lx-tabs>
	<lx-tab icon="file-video" heading="Series">
		<div class="p+">
			<div class="card top-space" ng-repeat="serie in series.subtitles">
				<div flex-container="row">
					<div class="card__img card__img--left">
						<img src="{{serie.cover}}" alt="{{serie.title}} - Cover" style="height: 225px;width:150px">
					</div>
					<div flex-item flex-container="column">
						<div flex-item class="top-space p+">
							<strong class="fs-display-1 display-block">
								{{serie.title}}
							</strong>
							<strong class="fs-headline tc-blue-500 display-block">
								Capítulo: {{serie.season}}x{{serie.cap}} | <span class="tc-black-2">Versión: </span> <span class="tc-blue-2">{{serie.version}}</span>
							</strong>
							<div class="top-space">
								<span class="fs-subhead display-block tc-black-1">Publicado <span am-time-ago="serie.date"></span></span>
							</div>
						</div>
						<div class="card__actions">
							<a href="#/serie/{{serie.id}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Ver subtitulos</a>							
						</div>
					</div>				
				</div>
			</div>
		</div>
	</lx-tab>
	<lx-tab heading="Peliculas" icon="movie">
		<div class="p+">
			<div class="card top-space" ng-repeat="movie in movies.subtitles">
				<div flex-container="row">
					<div class="card__img card__img--left">
						<img src="{{movie.cover}}" alt="{{movie.title}} - Cover" style="height: 225px;width:150px">
					</div>
					<div flex-item flex-container="column">
						<div flex-item class="top-space p+">
							<strong class="fs-headline display-block">
								{{movie.title}} - <span class="tc-black-2">{{movie.year}}</span>
							</strong>
							<strong class="fs-subhead display-block top-space">
								<span class="tc-black-2">Versión: </span><span class="tc-blue-2">{{movie.version}}</span>
							</strong>
							<div class="top-space">
								<span class="fs-subhead display-block tc-black-1">Publicado <span am-time-ago="movie.date"></span></span>
							</div>
						</div>
						<div class="card__actions">
							<a href="#/movie/{{movie.id}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Ver subtitulos</a>							
						</div>
					</div>				
				</div>
			</div>
		</div>
	</lx-tab>
</lx-tabs>