<form name="createReport" ng-submit="saveSub()">
	<div class="card top-space">
		<div class="p+">
			<span class="fs-display-1 display-block tc-red-500">Agregar Subtitulo a {{movie.title}}</span>
			<div flex-container="row">
				<div flex-item="12">
					<div flex-item>
						<lx-text-field label="Versión del video">
							<input type="text" id="version_of_video" ng-model="subtitle.version_of_video">
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Link de descarga del subtitulo (Preferible: mega.co.nz) WARNING: No poner links de adf.ly o parecidos.">
							<input type="text" id="file_srt" ng-model="subtitle.file_srt">
						</lx-text-field>
					</div>
					<div flex-item>
						<lx-text-field label="Comentario acerca del subtitulo (NO PONER LINKS O SERÁS SANCIONADO">
							<textarea id="comments" ng-model="subtitle.comments"></textarea>
						</lx-text-field>
					</div>
				</div>			
			</div>
		</div>
		<div class="card__actions">
			<button type="submit" class="btn btn--green btn--l btn--raised">
				Subir Subtitulo
			</button>
		</div>
	</div>
</form>