<form name="createReport" ng-submit="savePost()">
	<div class="card top-space">
		<div class="p+">
			<span class="fs-display-1 display-block tc-red-500">Reportar subtitulo</span>
			<div flex-container="row">
				<div flex-item>
					<lx-text-field label="Razón">
						<textarea id="reason_input" ng-model="report.reason"></textarea>
					</lx-text-field>
				</div>
			</div>
		</div>
		<div class="card__actions">
			<button type="submit" class="btn btn--red btn--l btn--raised">
				Reportar
			</button>
		</div>
	</div>
</form>