<div class="card top-space">
	<div flex-container="row">
		<div class="card__img card__img--left">
			<img src="{{serie.cover}}" alt="{{serie.title}} - Cover" style="height: 300px;width:200px">
		</div>
		<div flex-item flex-container="column">
			<div flex-item class="p+">
				<strong class="fs-headline display-block">
					{{serie.title}} - <span class="tc-black-2">{{serie.year}}</span> | Temporadas: <span class="tc-black-2">{{serie.seasons}}</span>
				</strong>
				<strong class="fs-subhead tc-black-2 display-block top-space">
					{{serie.description}}
				</strong>
			</div>
			<div class="fab" align="right">
				<div class="p+">
					<a href="#/serie/{{serie.id}}/add" class="btn btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Agregar Subtitulo" tooltip-position="left">
						<i class="mdi mdi-plus"></i>
					</a>			        
			    </div>
			</div>	
		</div>				
	</div>
</div>
<lx-tabs>
	<lx-tab heading="T:{{season}}" ng-repeat="season in seasons">
		<div class="p+">
			<div class="card top-space" ng-repeat="subtitle in subtitles.subtitles">
				<div ng-if="season == subtitle.season">					
					<div class="p+">
						<strong class="fs-headline display-block tc-red-900">
							{{serie.title}} {{subtitle.season}}x{{subtitle.chapter}} - {{subtitle.chapter_name}}
						</strong>
						<div class="paragraph fs-body-1 mt+">
							{{subtitle.comment}}
						</div>
					</div>
					<div class="card__actions">
						<span>Versión: <strong>{{subtitle.version}}</strong> </span>
						<div align="right" position="right">
							<a href="{{subtitle.file}}" target="_blank" class="btn btn--m btn--green btn--raised" lx-ripple>Descargar</a>
							<a href="#/report/{{subtitle.id}}" class="btn btn--m btn--red btn--raised" lx-ripple>Reportar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </lx-tab>
</lx-tabs>